//================ Адаптив =============
.dropdown-toggle {
  border: 1px solid #000000;
  padding: 10px 15px;
  border-radius: 5px;
  color: #666666;
  margin-left: -20px;
  &:hover {
    background-color: #666666;
    color: #ffffff;
    border: none;
  }
  i {
    margin-top: 10px;
    font-size: 18px;
  }
}
.phone_mobile {
  padding-right: 0px;
  h3 {
    margin: 10px 0px 10px 10px;
    font-size: 14px;
    color: #666666;
    text-align: right;
    //.bold;
  }

}

@media (min-width: 0px) and (max-width: 320px) {
  nav {
    top: 0px;
    padding-top: 10px;
    height: 60px;
  }
  section#main {
    .main_header {
      padding-top: 40px;
      h1 {
        font-size: 14px;
        text-align: center;
        margin-bottom: 30px;
        span {
          line-height: 1.7;
          padding: 10px;
        }
      }
    }
    h3 {
      font-size: 13px;
      text-align: center;
    }
    .main_buttons {
      button {
        display: block;
        margin: 0 auto;
      }
      button#get_measurer {
        padding: 10px 20px;
        font-size: 12px;
        margin-bottom: 10px;
      }
      button#get_types {
        padding: 10px 27px;
        font-size: 12px;
        margin-bottom: 10px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  section#types {
    .card {
      padding-bottom: 10px;
    }
    button {
      font-size: 12px;
    }
  }
  section#help {
    text-align: center;
    button{
      display: block;
      margin: 0 auto;
    }
  }
  section#offer {
    text-align: center;
    input {
      margin-top: 5px;
    }
    button {
      margin-top: 10px;
    }
  }
  section#feedBack {
    .fotorama {
      display: none;
    }
    .item {
      text-align: center;
      height: 600px;
      p {
        font-size: 14px;
      }
    }
  }
  footer {
    text-align: center;
    .fox_kids {
      text-align: center;
    }
  }
  section#special_service {
    background: #b3a9a7;
    h3 {
      font-size: 22px;
    }
    button {
      padding: 17px 35px;
      font-size: 14px;
      display: block;
      margin: 0 auto;
    }
  }
  .more_types{
    .modal-dialog {
      width: 90%;
    }
    h4 {
      margin-left:: 0px;
      font-size: 14px;
      text-align: center;
    }
    p{
      font-size: 14px;
    }
  }
  #policy {
    .modal-dialog {
      width: 90%;
      h4 {
        font-size: 14px;
        text-align: center;
      }
    }
    .policy_text {
      padding-right: 10px;
      ul {
        padding: 0px;
      }
      p {
        font-size: 14px;
      }
    }
    .btn_mobile_version {
      text-align: center;
      button {
        width: 70%;
      }
    }
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  nav {
    top: 0px;
    padding-top: 10px;
    height: 60px;
  }
  section#main {
    .main_header {
      padding-top: 40px;
      h1 {
        font-size: 17px;
        text-align: center;
        margin-bottom: 30px;
        span {
          line-height: 1.7;
          padding: 10px;
        }
      }
    }
    h3 {
      font-size: 13px;
      text-align: center;
    }
    .main_buttons {
      button {
        display: block;
        margin: 0 auto;
      }
      button#get_measurer {
        padding: 15px 27px;
        font-size: 14px;
        margin-bottom: 10px;
      }
      button#get_types {
        padding: 15px 34px;
        font-size: 14px;
        margin-bottom: 10px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  section#types {
    .card {
      padding-bottom: 10px;
    }
    button {
      font-size: 12px;
    }
  }
  section#help {
    text-align: center;
    button{
      display: block;
      margin: 0 auto;
    }
  }
  section#offer {
    text-align: center;
    input {
      margin-top: 5px;
    }
    button {
      margin-top: 10px;
    }
  }
  section#feedBack {
    .fotorama {
      display: none;
    }
    .item {
      text-align: center;
      height: 600px;
      p {
        font-size: 16px;
      }
    }
  }
  footer {
    text-align: center;
    .fox_kids {
      text-align: center;
    }
  }
  section#special_service {
    background: #b3a9a7;
    h3 {
      font-size: 22px;
    }
    button {
      padding: 17px 35px;
      font-size: 14px;
      display: block;
      margin: 0 auto;
    }
  }
  .more_types{
    .modal-dialog {
      width: 90%;
    }
    h4 {
      margin-left:: 0px;
      font-size: 14px;
      text-align: center;
    }
    p{
      font-size: 14px;
    }
  }
  #policy {
    .modal-dialog {
      width: 90%;
      h4 {
        font-size: 14px;
        text-align: center;
      }
    }
    .policy_text {
      padding-right: 10px;
      ul {
        padding: 0px;
      }
      p {
        font-size: 14px;
      }
    }
    .btn_mobile_version {
      text-align: center;
      button {
        width: 70%;
      }
    }
  }
  
}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 992px) {

}

@media (min-width: 993px) and (max-width: 1200px) {

}
