.dropdown-toggle {
  border: 1px solid #000000;
  padding: 10px 15px;
  border-radius: 5px;
  color: #666666;
  margin-left: -20px;
}
.dropdown-toggle:hover {
  background-color: #666666;
  color: #ffffff;
  border: none;
}
.dropdown-toggle i {
  margin-top: 10px;
  font-size: 18px;
}
.phone_mobile {
  padding-right: 0px;
}
.phone_mobile h3 {
  margin: 10px 0px 10px 10px;
  font-size: 14px;
  color: #666666;
  text-align: right;
}
@media (min-width: 0px) and (max-width: 320px) {
  nav {
    top: 0px;
    padding-top: 10px;
    height: 60px;
  }
  section#main .main_header {
    padding-top: 40px;
  }
  section#main .main_header h1 {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
  }
  section#main .main_header h1 span {
    line-height: 1.7;
    padding: 10px;
  }
  section#main h3 {
    font-size: 13px;
    text-align: center;
  }
  section#main .main_buttons button {
    display: block;
    margin: 0 auto;
  }
  section#main .main_buttons button#get_measurer {
    padding: 10px 20px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  section#main .main_buttons button#get_types {
    padding: 10px 27px;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
  }
  section#types .card {
    padding-bottom: 10px;
  }
  section#types button {
    font-size: 12px;
  }
  section#help {
    text-align: center;
  }
  section#help button {
    display: block;
    margin: 0 auto;
  }
  section#offer {
    text-align: center;
  }
  section#offer input {
    margin-top: 5px;
  }
  section#offer button {
    margin-top: 10px;
  }
  section#feedBack .fotorama {
    display: none;
  }
  section#feedBack .item {
    text-align: center;
    height: 600px;
  }
  section#feedBack .item p {
    font-size: 14px;
  }
  footer {
    text-align: center;
  }
  footer .fox_kids {
    text-align: center;
  }
  section#special_service {
    background: #b3a9a7;
  }
  section#special_service h3 {
    font-size: 22px;
  }
  section#special_service button {
    padding: 17px 35px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
  }
}
