@font-face {
  font-family: 'pfdintextcondprobold';
  src: url('fonts/pfdintextcondprobold.eot');
  src: url('fonts/pfdintextcondprobold.eot') format('embedded-opentype'), url('fonts/pfdintextcondprobold.woff2') format('woff2'), url('fonts/pfdintextcondprobold.woff') format('woff'), url('fonts/pfdintextcondprobold.ttf') format('truetype'), url('fonts/pfdintextcondprobold.svg#pfdintextcondprobold') format('svg');
}
@font-face {
  font-family: 'pfdintextcondprolight';
  src: url('fonts/pfdintextcondprolight.eot');
  src: url('fonts/pfdintextcondprolight.eot') format('embedded-opentype'), url('fonts/pfdintextcondprolight.woff2') format('woff2'), url('fonts/pfdintextcondprolight.woff') format('woff'), url('fonts/pfdintextcondprolight.ttf') format('truetype'), url('fonts/pfdintextcondprolight.svg#pfdintextcondprolight') format('svg');
}
@font-face {
  font-family: 'pfdintextcondpromedium';
  src: url('fonts/pfdintextcondpromedium.eot');
  src: url('fonts/pfdintextcondpromedium.eot') format('embedded-opentype'), url('fonts/pfdintextcondpromedium.woff2') format('woff2'), url('fonts/pfdintextcondpromedium.woff') format('woff'), url('fonts/pfdintextcondpromedium.ttf') format('truetype'), url('fonts/pfdintextcondpromedium.svg#pfdintextcondpromedium') format('svg');
}
.bold {
  font-family: "pfdintextcondprobold";
}
.med {
  font-family: "pfdintextcondpromedium";
}
.light {
  font-family: "pfdintextcondprolight";
}
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
header {
  color: #666666;
  padding-top: 25px;
  padding-bottom: 20px;
}
header .descript h4 {
  font-family: "pfdintextcondpromedium";
  text-transform: uppercase;
}
header .descript h5 {
  font-family: "pfdintextcondprolight";
  font-size: 15px;
}
header .phone_number {
  text-align: right;
}
header .phone_number h3 {
  margin-top: 7px;
}
header .phone_number a {
  font-size: 25px;
  font-family: "pfdintextcondpromedium";
  color: #666666;
  display: inline-block;
}
header .phone_number a:hover {
  text-decoration: none;
}
header .phone_number a:before {
  vertical-align: middle;
  margin-right: 5px;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/call.png) no-repeat center center;
  display: inline-block;
}
header .phone_number p {
  font-family: "pfdintextcondprolight";
}
nav {
  background-color: #fafdfa;
}
nav ul.list-inline a {
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 10px;
  color: #666666;
}
nav ul.list-inline a:hover {
  text-decoration: none;
  background-color: #67cc67;
  color: #fff;
}
nav ul.list-inline {
  margin-bottom: 0;
}
